[submodule "vim/bundle/html5.vim"]
	path = vim/bundle/html5.vim
	url = git@github.com:othree/html5.vim.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "vim/bundle/tlib_vim"]
	path = vim/bundle/tlib_vim
	url = git@github.com:tomtom/tlib_vim.git
[submodule "vim/bundle/vim-addon-mw-utils"]
	path = vim/bundle/vim-addon-mw-utils
	url = git@github.com:MarcWeber/vim-addon-mw-utils.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim/bundle/vim-puppet"]
	path = vim/bundle/vim-puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "vim/bundle/vim-snipmate"]
	path = vim/bundle/vim-snipmate
	url = git@github.com:garbas/vim-snipmate.git
[submodule "vim/bundle/vim-snippets"]
	path = vim/bundle/vim-snippets
	url = git@github.com:honza/vim-snippets.git
[submodule "vim/bundle/vim-lint"]
	path = vim/bundle/vim-lint
	url = git@github.com:dbakker/vim-lint.git
[submodule "vim/bundle/puppet-lint"]
	path = vim/bundle/puppet-lint
	url = git@github.com:rodjek/puppet-lint.git
[submodule "vim/bundle/Dockerfile"]
	path = vim/bundle/Dockerfile
	url = git@github.com:ekalinin/Dockerfile.vim.git
[submodule "vim/bundle/ansible-vim"]
	path = vim/bundle/ansible-vim
	url = https://github.com/pearofducks/ansible-vim
[submodule "vim/bundle/vim-hashicorp-tools"]
	path = vim/bundle/vim-hashicorp-tools
	url = git@github.com:hashivim/vim-hashicorp-tools.git
[submodule "vim/bundle/L9"]
	path = vim/bundle/L9
	url = git@github.com:vim-scripts/L9.git
[submodule "vim/bundle/python-mode"]
	path = vim/bundle/python-mode
	url = git@github.com:python-mode/python-mode.git
[submodule "vim/bundle/vim-autocomplpop"]
	path = vim/bundle/vim-autocomplpop
	url = git@github.com:othree/vim-autocomplpop.git
[submodule "vim/bundle/vim-json"]
	path = vim/bundle/vim-json
	url = git@github.com:elzr/vim-json.git
